@charset "UTF-8";
// scss変数
$jpFont: "Yu Gothic UI";
$enFont: "Segoe UI";

:root {
  /* 色管理用の変数 */
  --black-color: #1e321f;
  --black-color02: #000; 
  --white-color: #fff;
  --gray-color: #707070;
  --gray-color02: #ccc;
  --primary-color: #2e6432;
  --beginner-color: #68c384;
  --intermediate-color: #efdd3d;
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 760px;
  --content-width: 960px;
  --content-width-lg: 1088px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-page-top: 50;
  --z-index-header: 100;
  --z-index-menu: 150;
}

/* ---------- base ---------- */
body {
  color: var(--black-color);
  font-size: 16px;
  font-family: "Yu Gothic UI", "Segoe UI", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.1em;
}

/* ---------- layout ---------- */
.l_container {
  padding: 0 32px;
}

.l_contents {
  padding: 160px 0;
}

.l_header {
  width: 100%;
  height: 60px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
  &-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_title {
    font-size: 14px;
    font-family: "Segoe UI";
    z-index: var(--z-index-menu);
  }

  &-nav {
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--black-color02), var(--primary-color));
    pointer-events: none;
    &-inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &_list {
      text-align: center;
    }
    &_item {
      color: var(--white-color);
      line-height: 1.3;
      font: {
        family: $enFont;
        size: 60px;
      }
      &:not(:first-child) {
        margin-top: 40px;
      }
    }
    &_link {
      width: 100%;
      height: 100%;
    }
    &_sns {
      margin-top: 80px;
      display: flex;
      gap: 48px;
    }
  }
}

.l_footer {
  width: 100%;
  height: 60px;
  background: var(--primary-color);
  &-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_copyright {
    color: var(--white-color);
    font: {
      family: $enFont;
      size: 14px;
    }
  }
}

/* ---------- module ---------- */
.m_hamburger {
  width: 40px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: var(--z-index-menu);
  &_bar {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      top: 100%;
      transform: translateY(-100%);
    }
  }
}

.m_scroll_gauge {
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-index-page-top);
  }
  width: 32px;
  height: 32px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.m_btn-show {
  width: 300px;
  height: 40px;
  color: var(--primary-color);
  font-family: "Segoe UI";
  &_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: background 0.25s, color 0.5s;
    &:hover {
      background: var(--primary-color);
      color: var(--white-color);
    }
  }
}

.m_kv {
  width: 100%;
  height: 67vh;
  &-inner {
    height: 100%;
    position: relative;
  }
  &_copy {
    color: var(--white-color);
    line-height: 1.3;
    font-family: "Segoe UI";
    font-size: 48px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 20px;
  }
}

/* ---------- utility ---------- */
.u_mt-16 {
  margin-top: 16px;
}
.u_mt-40 {
  margin-top: 40px;
}
.u_mt-60 {
  margin-top: 60px;
}

/* ---------- js ---------- */
.js_header_title {
  &.is_active {
    color: var(--white-color) !important;
  }
  &__not-top {
    color: var(--white-color);
    &.is_primary {
      color: var(--primary-color);
    }
  }
}

.js_header-nav {
  &.is_active {
    top: 0;
    pointer-events: auto;
  }
}

.js_hamburger {
  &.is_active {
    width: 28px;
    height: 28px;
  }
  &_bar {
    &.is_active {
      background: var(--white-color) !important;
      &:nth-child(1) {
        transform: rotate(315deg);
        top: 50%;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(225deg);
        top: 50%;
      }
    }
    &__not-top {
      background: var(--white-color);
      &.is_primary {
        background: var(--primary-color);
      }
    }
  }
}

.js_body.is_hidden {
  overflow: hidden;
}
.js_main.is_disabled {
  pointer-events: none;
}

.js_scroll_gauge {
  transition: background 0.5s;
  &.is_active {
    background: var(--primary-color);
  }
}

/* ---------- top ---------- */
.top_section {
  height: 100vh;
  padding-top: 60px;
  position: relative;
  &:nth-child(2n + 1) .top_kv_copy {
    right: 32px;
  }
}

.top_kv {
  width: 100%;
  height: 67vh;
  position: absolute;
  top: 80px;
  &__top {
    background: linear-gradient(rgba(30, 50, 31, 0.35), rgba(30, 50, 31, 0.35)),
    url(../img/top_kv.jpg) center bottom / cover;
  }
  &__about {
    background: linear-gradient(rgba(30, 50, 31, 0.35), rgba(30, 50, 31, 0.35)),
    url(../img/about_kv.jpg) center / cover;
  }
  &__works {
    background: linear-gradient(rgba(30, 50, 31, 0.35), rgba(30, 50, 31, 0.35)),
    url(../img/works_kv.jpg) center / cover;
  }
  &-inner {
    height: 100%;
    position: relative;
  }
  &_copy {
    color: var(--white-color);
    line-height: 1.3;
    font-family: "Segoe UI";
    font-size: 48px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 80px;
  }
}

.top_scroll {
  &_head {
    font-size: 18px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 68px;
    left: 50%;
    transform: translateX(-50%);
  }
  &_icon {
    width: 15px;
    height: 15px;
  }
}

.top_btn-show {
  position: absolute;
  top: calc(100% - 52px - (100% - 67vh - 52px) / 2);
  left: 50%;
  transform: translate(-50%, 50%);
}

/* ---------- about ---------- */
.about_kv {
  background: linear-gradient(rgba(30, 50, 31, 0.35), rgba(30, 50, 31, 0.35)),
  url(../img/about_kv.jpg) center / cover;
}

.about_contents {
  & p {
    font: {
      size: 14px;
      family: $jpFont;
    }
    line-height: 2;
  }
  & h4 {
    width: 80px;
    height: 40px;
    border: 1px solid var(--black-color);
    border-radius: 20px;
    font-size: 14px;
    font-family: $jpFont;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
  & h5 {
    font-size: 14px;
    font-family: $jpFont;
    margin-top: 60px;
    padding-left: 32px + 12px;
    position: relative;
    &::before {
      content: "";
      width: 32px;
      height: 1px;
      background: var(--black-color);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.about_intro {
  &_head {
    display: flex;
    flex-direction: column;
    font: {
      size: 36px;
      weight: bold;
      family: $jpFont;
    }
    &-en {
      font: {
        size: 20px;
        weight: normal;
        family: $enFont;
      }
    }
  }
  &_img {
    &-wrapper {
      margin-top: 60px;
    }
    width: 100%;
  }
}

.about_skill {
  padding-top: 120px;
  &_head {
    font: {
      family: $enFont;
      size: 32px;
    }
    text-align: center;
  }
  &_list {
    margin-top: 80px;
  }
  &_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
  &_info {
    display: flex;
    align-items: center;
  }
  &_icon-wrapper {
    width: 38px;
    height: 38px;
    position: relative;
    &__sub {
      width: 24px;
      height: 24px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child(1) {
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        bottom: 0;
        right: 0;
      }
    }
  }
  &_name-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  &_name {
    font: {
      family: $enFont;
      size: 12px;
    }
    line-height: 1.5;
  }
  &_period {
    font: {
      family: $enFont;
      size: 10px;
    }
    margin-top: 8px;
  }
  &_bar {
    &-wrapper {
      display: flex;
      gap: 12px;
    }
    display: block;
    width: 4px;
    height: 32px;
    background: var(--gray-color02);
    border-radius: 2px;
    &__beginner {
      background: var(--beginner-color);
    }
    &__intermediate {
      background: var(--intermediate-color);
    }
  }
}